<p>Class:  USC Viterbi Data Analytics Bootcamp</p>
<p>Team:  Analyticus (aka Team 5)</p>
<p>Module:  pull_hhs_state_data.py</p>
<p>Version:  March 31, 2018</p>
<p>Input:  HHS Vaccinations by state from HHS API for flu season 2017</p>
<p>Output:  HHS Vaccinations Json File for flu season 2017.</p>

In [1]:
# Dependencies
import requests
import json
import numpy as np
import pandas as pd

In [2]:
# Format the URL to get state codes.
url = "https://fluvaccineapi.hhs.gov/api/v2/ids/2017/states.json"

In [3]:
# Create the lsit of state codes, removing Distict of Columbia and Puerto Rico.
state_codes = requests.get(url).json()
state_codes.remove('DC')
state_codes.remove('PR')

In [4]:
# Build a list of state vaccination data.
results = []

for state_code in state_codes:
    
    url = "https://fluvaccineapi.hhs.gov/api/v2/vaccination_rates/trends/2017/states/{}.json?ethnicity=T&medicare_status=A".format(state_code)
    
    state_list = requests.get(url).json()
    
    for i in np.arange(0, len(state_list)):
        results.append(state_list[i])

In [5]:
# Load a dataframe with the HHS data.
df = pd.DataFrame(results)

In [6]:
# Inspect the HHS dataframe.
df.head()

,count,disparity,ethnicity,fips,medicare_status,name,percentage,short_name,week,week_start,year
0,75898,0.0,T,02,A,Alaska,0.000646,AK,1,05AUG,2017
1,75898,0.0,T,02,A,Alaska,0.002727,AK,2,12AUG,2017
2,75898,0.0,T,02,A,Alaska,0.008090,AK,3,19AUG,2017
3,75898,0.0,T,02,A,Alaska,0.016443,AK,4,26AUG,2017
4,75898,0.0,T,02,A,Alaska,0.029237,AK,5,02SEP,2017

In [7]:
# Write the HHS data to a json file.
df.to_json('../data/hhs_state.json')

In [8]:
# Start the file validation process by loading the file into a dataframe.
df1 = pd.read_json('../data/hhs_state.json')

In [10]:
# Sort HHS data into state and week sequence to aid in inspection.
df2 = df1.sort_values(by=['name', 'week'])

In [11]:
# Inspect the HHS data.
df2.head()

,count,disparity,ethnicity,fips,medicare_status,name,percentage,short_name,week,week_start,year
25,543514,0,T,1,A,Alabama,0.001551,AL,1,05AUG,2017
26,543514,0,T,1,A,Alabama,0.004508,AL,2,12AUG,2017
27,543514,0,T,1,A,Alabama,0.008945,AL,3,19AUG,2017
28,543514,0,T,1,A,Alabama,0.016826,AL,4,26AUG,2017
29,543514,0,T,1,A,Alabama,0.030227,AL,5,02SEP,2017

In [12]:
# Inspect the HHS data.
df2.tail()

,count,disparity,ethnicity,fips,medicare_status,name,percentage,short_name,week,week_start,year
1245,86509,0,T,56,A,Wyoming,0.417032,WY,21,23DEC,2017
1246,86509,0,T,56,A,Wyoming,0.418234,WY,22,30DEC,2017
1247,86509,0,T,56,A,Wyoming,0.419552,WY,23,06JAN,2017
1248,86509,0,T,56,A,Wyoming,0.419563,WY,24,13JAN,2017
1249,86509,0,T,56,A,Wyoming,0.419563,WY,25,20JAN,2017